<header class="jumbotron">
    <h1 class="text-center">
        {{title}}
    </h1>

</header>

<article class="container">

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                    <a [routerLink] = "['/cadastro']" class="btn btn-primary">Nova Foto</a>
                </span>

                    <input type="text" #textoProcurado class="form-control" placeholder="Filtrar pelo titulo da foto">
                </div>
            </form>
        </div>
    </div>

    <br />

    <div class="row">

        <app-painel *ngFor="let foto of fotos | FiltroPorTitulo: textoProcurado.value" [titulo]="foto.titulo " class="col-md-2">
            <app-foto [url]="foto.url" [titulo]="foto.titulo"></app-foto>
        </app-painel>
    </div>

</article>